.my-div {
  $col: #63b866;
  $my-color: lighten($col, 30%);
  background-color: $my-color;
  width: 20%;
  div {
    $my-color: darken($col, 30%);
    background-color: $my-color;
    width: 50%;
    user-select: none;
  }
}

body {
  background-image: url(../img/utf8.jpeg);
  font-family: myLato;
}

@font-face {
  font-family: myLato;
  src: url(../fonts/Lato-Hairline.ttf);
}

#menu {
  background-color: lightblue;
  position: fixed;
  right: 2vw;
  border-radius: 0.3vw;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.5);

  #menuItems {
    float: left;
  }
  .menuItem {
    cursor: pointer;
    font-family: "Lato Black";
    font-size: 1.5em;
    color: black;
    display: inline-block;
    margin-top: 3vh;
    margin-right: 15vh;
    margin-left: 2vh;
  }
  #menuBtn {
    cursor: pointer;
    height: 40px;
    float: right;
  }
}

.hidden {
  display: none;
}