.my-div {
  $col: #63b866;
  $my-color: lighten($col, 30%);
  background-color: $my-color;
  width: 20%;
  div {
    $my-color: darken($col, 30%);
    background-color: $my-color;
    width: 50%;
    user-select: none;
  }
}

.img-wrapper {
  background-image: url(../img/utf8.jpeg);
  height: 20%;
}

@font-face {
  font-family: myLato;
  src: url(../fonts/Lato-Hairline.ttf);
}

header {
  font-family: myLato;
}

#menu {

  #menuBtn {
    cursor: pointer;
    height: 10vh;
    float: right;
  }
}

.hidden {
  visibility: hidden;
}